@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18191A;
}

code {
/*   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

:root {
  --blueish: #0866FF;
}

.nav-links a{
}

a {
  border-radius: 5px;
}

a:not(.active):not(.post-descriptor a):hover,
.night-btn:hover,
.nav-actions button:hover,
button:not(.no-hover):hover {
  box-shadow:inset 0 0 100px 100px rgba(255,255,255,.1);
}

.post-descriptor a{
  color: var(--blueish);
}

.post-descriptor a:hover {
  text-decoration: underline;
}

.night-btn {
  background: #3A3B3C;
  padding: .5rem .7rem;
  border-radius: 0.25rem;
}

.nav-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
}

.nav-actions button {
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  background: #3A3B3C;
  border-radius: 50%;
  overflow: hidden;
}

.profile-routes a.active {
  color: var(--blueish) !important;
  position: relative;
}

.profile-routes a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25rem; /* Tailwind py-1 value*/
  width: 100%;
  height: 0.15rem;
  background: var(--blueish);
}

.nav-actions .profile {
  width: 2.3em;
  height: 2.3em;
}

.profile-routes {
  border-top: 1px solid rgba(255,255,255,.1);
}

.profile-routes a {
  padding: .8rem .75rem;
}

.icon-filter {
  -webkit-filter: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
  filter: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
}

.icon-filter-2 {
  -webkit-filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
  filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
}

.bio-intro > li  {
  display: flex;
  column-gap: .5rem;
  margin: .9rem 0;
}

.bio-intro > li  img {
  -webkit-filter: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
  filter: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
  transform: scale(0.9);
}

.preview-right::-webkit-scrollbar {
  display: none;
}

.project-cards {
  display: grid;
  gap: 2rem;
  padding: 2rem 0;
  margin:0 2rem;
}

.project-cards > a {
  perspective: 1000px;
  position:relative;
  -webkit-perspective: 1000px;
}

.project-cards > a > div{
  width: 100%;
  height: 30rem;
  background: #18191A;
  border-radius: 15px;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}

.project-cards > a > div::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    800px circle at var(--card-x) var(--card-y),
    rgba(255,255,255,0.3),
    transparent 40%
  );
  border-radius: inherit;
}

.project-cards > a:hover {box-shadow: none !important;}
